 .active-pag{
border-color: var(--primary-Tab-toplink);
width: 35px;
    height: 35px;
font-weight: 600;
font-size: 16px;
margin: 0 10px;
border-radius: 6px;
cursor: pointer;
transition: all 0.3s ease;
background-color: transparent;
font-family: "DM Sans", sans-serif;
transition: ease-in 0.1s;
color: var(--primary-Tab-toplink);
border: 1px solid;

}

.pagination-btn-styling{
    width: 35px;
    height: 35px;
    color: var(--primary-colorTwGrey2);
    font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  border-color: var(--primary-colorTwGrey2);
  border: 1px solid;
  font-family: "DM Sans", sans-serif;
  transition: ease-in 0.1s;
}

.pagination{
    display: flex;
    justify-content: center;
}

.select-styling{
    width: 5%;
    color: var(--primary-colorTwGrey1);
    background-color: transparent;
    border: 1px solid var(--primary-colorTwGrey1-lighter);  
    text-align: center;
    border-radius: 5px;
    margin-top: 0.2rem;
    height: 2.7rem;
}


.select-styling:focus{
    border: 1px solid var(--primary-Tab-toplink);
}

.select-option-styling:hover{
    border: 1px solid var(--primary-colorTwGrey2-lighter2);  
}

