.dash-dropDownProfile{
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: var(--primary-backColor);
    box-shadow: var(--primary-contlesserShadow);
    color: inherit;
    min-width: unset;
    z-index: 1;
    border-radius: 10px;
    border-width: 1px;
    width: 10%;
    border: transparent;
    -webkit-backdrop-filter: blur(63px);
    backdrop-filter: blur(63px);
    padding: 15px;
    position: absolute;
    border: 1px solid var(--primary-colorTwGrey2-lighter);
    height: 15rem;
}



.filter-container{
    margin-right: 1rem;
}

.filter-header{
    font-weight: 700;
    color: var(--primary-text);
    padding: 0 1rem ;
    padding-bottom: 0.2rem;
    border-bottom: var(--primary-colorTwGrey2-lighter3) 1px solid;
    letter-spacing: 2px;
}


.dash-filter-btn-styling{
    margin: 0.2rem;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 0.2rem;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: var(--primary-text);
    transition: 0.2s ease;

}

.dash-filter-btn-styling:hover{
font-size: 1.1rem;
color: var(--primary-text);
font-weight: 600;
}

.filter-icon-styling{
    color: var(--primary-text);
    background-color: var(--primary-colorTwGrey2-lighter4);
    font-size: 1.3rem;
}

.filter-icon-styling:hover{
    color: var(--primary-text);
    background-color: var(--primary-colorTwGrey2-lighter4);
}

.dash-content-container{
    height: 11rem;
    overflow-y: scroll;
}